<%=  partial "layouts/banner.html" %>

<div class="container">

<h3 class="text-center"><strong>Recent flats</strong></h3>


  <div class="row card-margin">
    <div class="col-xs-12 col-sm-4">
      <%=  partial "layouts/card.html" %>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <%=  partial "layouts/card.html" %>
      <!-- insert <div class="card"> -->
    </div>
    <div class="col-xs-12 col-sm-4">
      <%=  partial "layouts/card.html" %>
      <!-- insert <div class="card"> -->
    </div>
  </div>
</div>
